.Main-Container {
  background: hsl(201, 12%, 38%);
  min-height: 100vh;
}
.Banner {
  background: #343c40;
  height: 100px;
  display: flex;
}

.Title {
  font-size: 30px;
  font-family: 'MuseoSans', 'Khanaya', sans-serif;
  color: white;
  align-self: center;
  justify-self: end;
}

