.Main-Container {
  background: #fafafa;
  min-height: 100%;
}

.SideBanner {
  display: flex;
  flex-direction: column;
  
  /* min-height: 100vh; */
}
.SideContent {
  padding: 40px 45px 75px;
}

@media screen and (min-width: 768px){
  .SideBanner{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 33%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    
    top: 0; /* Stay at the top */
    left: 0;
    bottom: 0;
    overflow-y: hidden; /* Disable vertical scroll */
  }
  
  .All-Content{
    margin-left: 33%;
    width: 67%;
    position: static;
    overflow-x: hidden;
    float: none;
    clear: none;
  }
}

.Title {
  font-size: 35px;
  font-family: 'MuseoSans', 'Khanaya', sans-serif;
  color:  #3b80fe;
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  justify-items: center;
}

.Subtitle {
  font-size: 24px;
  font-family: 'MuseoSans', 'Khanaya', sans-serif;
  color: #4a4a4a;
}

.Body {
  margin-top: 35px;
  font-size: 16px;
  font-family: 'MuseoSans100';
  color: #4a4a4a;
}
.Content-Container {
  padding: 40px 45px 40px;
}

.ContentTitle {
  color:#fafafa;
  font-size: 24px;
  font-family: 'MuseoSans100', 'Khanaya', sans-serif;

}

.Content1 {
  background: #ff9e9e
}

.ContentImage{
  margin-top: 35px;
  max-width:100%;
  max-height:100%;
  box-shadow: 10px 10px 5px #ff8585;
  border-color: #b92f2f;
  border-width:1px;
  border-style: solid;
  margin-bottom: 35px;
}

.Content2 {
  background: #005ba9
}

.Content3 {
  background: #b4ddbf
}

.Content2 {
  background: #005ba9
}

.Icon-Container {
  flex-direction: row;
  margin-top: 35px;
}

.Icon {
  margin-right: 40px;
  height:24px;
}

.Link-Wrapper {
  display:inline-block;
  text-decoration: none;
}

.EmailButton{
  padding:15px 65px;
  position: absolute;
  background: #3b80fe;
  color:#fafafa;
  font-size: 16px;
  font-family: 'MuseoSans100', 'Khanaya', sans-serif;
  border-radius: 100px;
  text-decoration: none;
}

footer{
  text-align: center;
  padding: 35px;
  background: #222222;
  font-family: 'MuseoSans100', 'Khanaya', sans-serif;
  color:#fafafa;
  font-size: 16px;
}



